<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arproject.russell.ar_t">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         This tag indicates that this application requires ARCore. This results in the application
        only being visible in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup, android:icon">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyB4EvGlZeQXDenzyw1gx9NfvoJQmc_2QXU" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.ar.codelab.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ar_models.ArUploadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".teacher.assignment.AssignmentActivity"
            android:label="@string/title_activity_assignment"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".student.assignmentsubmission.AssignmentSubmissionActivity"
            android:label="@string/title_activity_assignment_submission"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.assignment.StudentSubmissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".augmentedimages.AugmentedImagesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity android:name=".guided_tour.GuidedTourActivity" />
        <activity
            android:name=".ar_models.ArResolveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ar_lessons.ArLessonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity android:name=".augmentedimages.AugmentedImagesGuidedTourActivity" />
        <activity
            android:name=".teacher.classroom.StudentProgressActivity"
            android:label="@string/title_activity_student_progress"
            android:theme="@style/AppTheme"/>
        <activity android:name=".quizzes.QuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />

    </application>

</manifest>